#footer {

    text-align: center;
    color: #fff;
    padding-bottom: 40px;
    background-color: #333333;

}

.icon-footer {

    padding: 30px 50px 30px;
    display:block;


}

.fa-2x{
	
	font-size:1.7rem!important;
	
}

#p{
	
	font-family: 'Work Sans-Regular', sans-serif;
	display: block;
	font-weight:normal!important;
	font-size:1.5rem;
	color: #fff;

	
}