body {

    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
    background-color: #393e46!important;


}

.header {
    background-color: #00adb5;
    color: #eeeeee;
}

#alert{
	
position: absolute;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
z-index:1;
	
}

.image {
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 15px;
}

.text {
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 25px;


}

.text-image {
    margin: 0;
    padding: 0;

}

h1 {

    display: inline-block;
    font-size: 20px;


}

h2 {

    display: block;
    font-size: 15px;


}


#login-register {

    padding: 60px;


}



#footer {

    text-align: center;
    color: #fff;
    padding-bottom: 40px;
    background-color: #333333;

}

.icon-footer {

    padding: 40px 10px 10px;


}

.card-5 {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
    background-position: top center;
    background-image: url(Images/Img-Slider1.jpg);
}

.hero-section {
	height: 948px;
}